/* ------------------- */
/* Reset               */
/* ------------------- */

/* Box sizing */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Reset margins */
body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
    margin: 0; 
}

/* set up the body */
body {
    line-height: 1.5;
    min-height: 100vh;
    min-height: 100svh;
}

/* make images easier to work with */
img,
picture {
    max-width: 100%;
    display: block;
}

/* make form elements easier to work with */
input,
button,
textarea,
select {
    font: inherit;
}

/* remove animations for people who've turned them off */
@media (prefers-reduced-motion: reduce) {  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* Fixing the title font weight */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 400;
}

/* ------------------- */
/* Adding Fonts        */
/* ------------------- */

/* .noto-sans-arabic {
    font-family: "Noto Sans Arabic", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "wdth" 100;
} */

.tajawal-regular {
    font-family: "Tajawal", sans-serif;
    font-weight: 400;
    font-style: normal;
}

/* ------------------- */
/* Styling             */
/* ------------------- */

:root {
    --box-bg: hsl(270, 64%, 38%);
}

body {
    background-color: #552084;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: right;
    color: #DCE8FF;
    position: relative;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    color: white;
}

main p {
    font-weight: 600;
}

.logo-container, .content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo-container h2 {
    font-size: clamp(1.5rem, 6vw, 3rem);
    font-weight: 800;
}

.logo-container img {
    width: clamp(100px, 30vw, 100%);
}

/* body *:not(.box) {
    border: 2px solid red;
} */

.content-container h1 {
    font-size: clamp(2rem, 20vw, 10rem);
    margin-bottom: 1rem;
    font-weight: 800;
}

.telegram-btn {
    text-decoration: none;
    background-color: white;
    color: #24A1DE;
    padding: .5rem 1rem;
    border-radius: 10px;
    margin: 1rem;
    font-weight: 700;
    font-size: 20px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    gap: .5rem;
    transition: transform 200ms ease-in-out;
}

.telegram-btn img {
    width: 2.5rem;
}

.slogan {
    text-align: center;
    position: absolute;
    bottom: 1rem;
}

/* ------------------- */
/* Animated grid       */
/* ------------------- */

.animated-grid {
    display: grid;
    grid-template-columns: repeat(20, 1fr);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    gap: .5rem;
    z-index: -1;
}

.animated-grid .box {
    border-radius: 10px;
    width: 20vw;
    height: 20vw;
    max-width: 100px;
    max-height: 100px;
    background-color: var(--box-bg);
}

/* ------------------- */
/* Animation           */
/* ------------------- */

.glow-blue {
    animation: box-glow-blue ease-in-out 10000ms infinite;
}

@keyframes box-glow-blue {
    from {
        background-color: var(--box-bg);
    }

    10% {
        background-color: #007FE6;
    }

    20% {
        background-color: var(--box-bg);
    }

    to {
        background-color: var(--box-bg);
    }
}

.glow-green {
    animation: box-glow-green ease-in-out 10000ms infinite;
}

@keyframes box-glow-green {
    from {
        background-color: var(--box-bg);
    }

    10% {
        background-color: #33AE7E;
    }

    20% {
        background-color: var(--box-bg);
    }

    to {
        background-color: var(--box-bg);
    }
}

.glow-orange {
    animation: box-glow-orange ease-in-out 10000ms infinite;
}

@keyframes box-glow-orange {
    from {
        background-color: var(--box-bg);
    }

    10% {
        background-color: #E78033;
    }

    20% {
        background-color: var(--box-bg);
    }

    to {
        background-color: var(--box-bg);
    }
}

.glow-red {
    animation: box-glow-red ease-in-out 10000ms infinite;
}

@keyframes box-glow-red {
    from {
        background-color: var(--box-bg);
    }

    10% {
        background-color: #EA3353;
    }

    20% {
        background-color: var(--box-bg);
    }

    to {
        background-color: var(--box-bg);
    }
}

/* ------------------- */
/* Media Queries       */
/* ------------------- */

/* Fixing some text for large screens, as well as positioning */
@media (min-width: 600px) {
    .content-container p {
        font-size: 1.5rem;
        font-weight: 400;
    }

    main {
        justify-content: space-between;
        min-height: inherit;
    }

    .slogan {
        position: static;
    }

    .telegram-btn:hover, .telegram-btn:focus {
        transform: scale(1.05);
    }
}